@model DMS_M306.ViewModels.FileRelease.ReleaseDetailsViewModel
@using DMS_M306.ViewModels.PhysicalStorage
@using DMS_M306.Helpers

@helper DetailRow(string detailName, string detail)
{
    <tr>
        <th width="160px">@detailName:</th>
        <td>@detail</td>
    </tr>
}

@helper ActivationStatus(bool isActive)
{
<tr>
        <th width="160px">Status:</th>
     @if (isActive)
     {
     <td>Active</td>
     }
     else
     {
     <td>Inactive</td>
     }
    </tr>
}

@helper ReleaseDownloadDetails(int releaseId)
{
    <tr>
        <th width="160px">Download:</th>
        <td><a href="/Download/DownloadRelease/@releaseId">Release</a></td>
    </tr>
}



@helper PhysicalStorageDetails(PhysicalStorageViewModel physicalStorage)
{
    @DetailRow(nameof(physicalStorage.BuildingId), physicalStorage.BuildingId)
    @DetailRow(nameof(physicalStorage.RoomId), physicalStorage.RoomId)
    @DetailRow(nameof(physicalStorage.CabinetId), physicalStorage.CabinetId)
}


<div class="panel panel-default">
    <div class="panel-heading">
        <b class="lead">Release Details - @Html.ActionLink(Model.RootFileName, "Details","File", new { @id = Model.RootFileId},null)</b>
        <span style="height:30px;" class="pull-right qrcode-corner">
            @Html.GenerateQrFromString(Model.QRString)
        </span>
        <div class="clearfix"></div>
    </div>
    <table class="table">
        <tbody>
            @DetailRow(nameof(Model.ReleaseNumber), Model.ReleaseNumber.ToString("X4"))
            @DetailRow(nameof(Model.Description), Model.Description)
            @DetailRow(nameof(Model.LastModifiedBy), Model.LastModifiedBy)
            @DetailRow(nameof(Model.ReleasedBy), Model.ReleasedBy)
            @DetailRow(nameof(Model.ReleaseDate), Model.ReleaseDate.ToString("dd.MM.yy HH:mm"))
            @ActivationStatus(Model.IsActive)
            @if (Model.PhysicalStorage != null)
            {
                @PhysicalStorageDetails(Model.PhysicalStorage)
            }
            else
            {
                if (Model.IsActive)
                {
                @ReleaseDownloadDetails(Model.Id)
                }
            }
    </table>
    <div class="panel-body">
        <a href="/FileRelease/Edit/@Model.Id" class="btn btn-default">Edit</a>
    </div>
</div>