@model DMS_M306.ViewModels.File.FileDetailsViewModel

@helper ReleaseIdFormat(int id)
{
    @id.ToString("X4")
}

@helper StatusIcon(bool isActive)
{
if (isActive)
{
        <i class="glyphicon glyphicon-play text-success" data-toggle="tooltip" data-placement="Top" title="Active"></i>
}
else
{
        <i class="glyphicon glyphicon-stop text-danger" data-toggle="tooltip" data-placement="Top" title="Outdated"></i>
}
}

@helper DownloadLink(int id)
{
    <a href="/Download/DownloadRelease/@id">Download</a>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <b class="lead">Releases</b><span class="pull-right btn-group">
            <a href="/FileRelease/CreateFor/@Model.Id" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="Top" title="Add category"></span></a>
        </span>

        <div class="clearfix"></div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Createt By</th>
                <th>Release Date</th>
                <th>Released By</th>
                <th width="30px">Status</th>
                @if (Model.PhysicalStorage == null)
                {
                    <th></th>
                }
            </tr>
            @if (Model.Releases != null)
            {
                foreach (var item in Model.Releases)
                {
                    <tr>
                        <td><a href="/FileRelease/Details/@item.Id">@ReleaseIdFormat(@item.ReleaseNumber)</a></td>
                        <td>@item.Description</td>
                        <td>@item.LastModifiedBy</td>
                        <td>@item.ReleaseDate.ToString("dd.MM.yy HH:mm")</td>
                        <td>@item.ReleasedBy</td>
                        <td class="text-center">@StatusIcon(item.IsActive)</td>
                        @if (Model.PhysicalStorage == null)
                        {
                            if (item.IsActive)
                            {
                                <td>@DownloadLink(item.Id)</td>
                            }
                            else
                            {
                                <td></td>
                            }

                        }

                    </tr>
                }
            }
        </tbody>
    </table>
</div>