@model DMS_M306.ViewModels.File.FileDetailsViewModel

@helper ReleaseIdFormat(int id)
{
    @id.ToString("X4")
}

@helper DownloadLink(int id)
{
    <a href="/Download/DownloadRelease/@id">Download</a>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <b class="lead">Releases</b><span class="pull-right btn-group">
            <a href="/Release/CreateFor/@Model.Id" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="Top" title="Add category"></span></a>
        </span>

        <div class="clearfix"></div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Createt By</th>
                <th>Release Date</th>
                <th>Released By</th>
                @if (Model.PhysicalStorage == null)
                {
                    <th></th>
                }
            </tr>
            @if (Model.Releases != null)
            {
                foreach (var item in Model.Releases)
                {
                    <tr>
                        <td><a href="/Release/Details/@item.Id">@ReleaseIdFormat(@item.ReleaseNumber)</a></td>
                        <td>@item.Description</td>
                        <td>@item.LastModifiedBy</td>
                        <td>@item.ReleaseDate.ToString("dd.MM.yy hh:mm")</td>
                        <td>@item.ReleasedBy</td>
                        @if (Model.PhysicalStorage == null)
                        {
                            <td>@DownloadLink(item.Id)</td>
                        }
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>